- page_title _('Your GitLab group')

.row.flex-grow-1.bg-gray-light
  .d-flex.flex-column.align-items-center.w-100.gl-p-3
    %section.gl-banner.gl-banner-introduction.gl-p-2.px-lg-6
      .gl-banner-illustration.d-flex
        = image_tag('illustrations/subscription-success.svg', class: 'mw-xs')
      .gl-banner-content.d-flex.flex-column.justify-content-center
        %h3= _('Thanks for your purchase!')
        - number_of_users = n_('1 user', '%{num} users', params[:quantity].to_i) % { num: params[:quantity] }
        %p= _('You have successfully purchased a %{plan} plan subscription for %{seats}. You’ll receive a receipt via email.') % { plan: plan_title, seats: number_of_users }
    .edit-group.d-flex.flex-column.align-items-center.gl-pt-5
      #progress-bar
      %h2.center= _('Create a group for your organization')
      %p
        %div= _('A group represents your organization in GitLab.')
        %div= _('Your %{plan} plan will be applied to your group.' % { plan: plan_title })

      = form_for [:subscriptions, @group], html: { class: 'gl-show-field-errors card w-100 gl-p-3' } do |f|
        = form_errors(@group)
        .row
          .form-group.group-name-holder.col-sm-12
            = f.label :name, class: 'label-bold' do
              = _('Group name (Your organization)')
            = f.text_field :name, class: 'form-control',
              required: true,
              title: _('Please fill in a descriptive name for your group.'),
              autofocus: true
            .form-text.text-muted= _('You can always edit this later')
        .row
          .form-group.col-sm-12
            = f.label :path, class: 'label-bold' do
              = _('Group URL')
            .input-group.gl-field-error-anchor
              .group-root-path.input-group-prepend.has-tooltip{ title: group_path, :'data-placement' => 'bottom' }
                .input-group-text
                  %span= root_url
              = f.text_field :path, class: 'form-control js-validate-group-path',
                autofocus: local_assigns[:autofocus] || false, required: true,
                pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
                title: _('Please choose a group URL with no special characters.')
            %p.validation-error.gl-field-error.field-validation.hide
              = _('Group path is already taken. Suggestions: ')
              %span.gl-path-suggestions
            %p.validation-success.gl-field-success.field-validation.hide= _('Group path is available.')
            %p.validation-pending.gl-field-error-ignore.field-validation.hide= _('Checking group path availability...')
        .row
          .form-group.col-sm-12
            = f.label :visibility_level, class: 'label-bold' do
              = _('Visibility level')
            = render 'shared/visibility_level', f: f, visibility_level: default_group_visibility, can_change_visibility_level: true, form_model: @group, with_label: false
        .row
          .form-group.col-sm-12.mb-0
            = button_tag class: %w[btn btn-success w-100] do
              = _('Get started')
